@media only screen and(max-width:768px) {
    .container{
        display: block;
        padding: 0;
        background-color: lightcoral;
    }
    .flex-box{
        font-size:20px ;
    }
.box{
    width: 100%;
}

.product img{
    width: 100%;
}
